.container {
    width: 90vw;
    height: 90vh;
   border:1px red solid;
}
h4 {
    align-self: center;
}
.container-1,.container-3{
    display: flex;
    margin: 10px;
}
.item-1,.item-2 {
    width: 325px;
    height: 325px;
    text-align: center;
}
.item-1 {
    
    color: white;
   background-color: black;
}
.item-2 {
    background-color: rgb(233, 211, 10);
}

.dot {
    margin-bottom: 10px;
    margin-left: 490px;
    height: 30px;
    border-left: 2px black solid;
}