.container {
    display: flex;
    flex-direction: row;
}
.items {  
    height: 100vh;
    width:100vw;
    color: aliceblue;
    text-align: center;
   background-color: black;
   border: 1px red solid;
}