.container-1 {
    display: flex;
    margin-top: 10px;
}
.container-2 {
    display: flex;
    justify-content: space-between;
    margin-top:100px; 
}
.container-3 {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    border:2px red solid;

}
.item-1,.item-2,.item-3 {  
    width: 110px;
    color: aliceblue;
    text-align: center;
}
.item-1 {  
    height: 30vh;
    background-color: black;
    border: 1px red solid;

}
.item-2 {  
    height: 100vh;
   background-color: rgb(212, 25, 25);
   border: 1px rgb(7, 247, 187) solid;

}
.item-3 {  
    height: 10vh;
   background-color: rgb(55, 191, 201);
   border: 1px rgb(10, 10, 10) solid;

}
