.container {
    width: 100vw;
   display: flex;
   flex-direction: row;
}
.item-1 {
    width: 70vw;
    height: 20vh;
    color: white;
   background-color: black;
   margin-top: 100px;
}
.item-2 {
    width: 30vw;
    height: 20vh;
    background-color: rgb(233, 211, 10);
   margin-top: 100px;

 }
