.container {
    width: 80vw;
    height: 80vh;
   display: flex;
   border:1px red solid;
   justify-content: center;
   align-items: center;
}
.item-1,.item-2,.item-3 {
    width: 240px;
    height: 240px;
    text-align: center;
}
.item-1 {
    
    color: white;
   background-color: black;
}
.item-2 {
    background-color: rgb(233, 211, 10);

 }
.item-3 {

    background-color: rgb(27, 59, 240);
   
 }